@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
     
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    padding: 12em; 
    height: 60vh;                            
   
}