@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    text-decoration: none;
}
 .logo {
    margin: 0;
    font-size: 1.45em;   
}
.main-nav {
	margin-top: 5px;
}
.nav-link{
    padding: 10px 15px;
	text-transform: uppercase;
    text-align: center;
    list-style: none;
    color: #5186EC !important;
    text-decoration: none;
	display: block;
}
.main-nav .nav-link{
    color:black !important;
    font-size: 0.99em;  
}

.header {
    padding: 10em;
	padding-top: .5em;
	padding-bottom: .5em;
    border: 1px transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
        align-items: center;
		margin: 0 auto;    
    }
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
